nav {
  display: flex;
  align-items: center;
  background-color: chocolate;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

footer {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: aqua;
  gap: 30px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-list {
  list-style: none;
  font-size: small;
  padding: 0;
  margin: 0;
}

footer img {
  padding: auto;
  max-width: 60px;
  width: auto;
  height: auto;
}
